/* CSS for styling the Kanban Board */
.navbar-brand{
    cursor: pointer;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

table td {
    border: 1px solid black; 
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

table th {
    border: 1px solid black; 
}

table tr:first-child th {
    border-top: 0;
}

table tr th:first-child {
    border-left: 0;
}

table tr:last-child th {
    border-bottom: 0;
}

table tr th:last-child {
    border-right: 0;
}

#expedited-service {
    height: 20vh;
}

#regular-service {
    height: 40vh;
}

/* New styling for the Member images above the board */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

/* New styling for the add button above the board */
.bun-circle {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

/* Task button styling */
.task {
    cursor: pointer;
}

/* End CSS for styling the Kanban Board */

/* Colors for the different Tasks */
.Red{background-color: #ff595e;}
.Yellow{background-color: #ffca3a;}
.Green{background-color: #8ac926;}
.Blue{background-color: #1982c4; color: #fff}
.Purple{background-color: #6a4c93; color: #fff}
.Orange{background-color: orange}

/* Start of CSS for Pillsbury Doughboy */

/* The animation code */
@keyframes say-hello {
    0% { left: -210px; bottom:0px }
    100% { left: 0px; bottom:0px }
}

/* The element to apply the animation to */
#pillsbury-doughboy {
    position: absolute;
    left: -210px;
    bottom: 0px;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease;
}

/* The style that triggers the animation */
.animate {
    animation-name: say-hello;
}

/* End of CSS for Pillsbury Doughboy */