/* CSS for styling the Kanban Board */
.navbar-brand{
    cursor: pointer;
}

table {
    height: 70vh;
    table-layout: fixed;
    border-spacing: 0;
    border-radius: 10px;
    border-collapse: separate;
    background-color: #fdfcf7;
    box-shadow: 7px 10px #dad9d4;
}
table, tr, th, td {
    background: #fdfcf7;
    border: 1px solid black;
}
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* New styling for the Member images above the board */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

/* New styling for the add button above the board */
.bun-circle {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

/* Task button styling */
.task {
    cursor: pointer;
}

/* End CSS for styling the Kanban Board */

/* Colors for the different Tasks */
.Red{background-color: #ff595e;}
.Yellow{background-color: #ffca3a;}
.Green{background-color: #8ac926;}
.Blue{background-color: #1982c4; color: #fff}
.Purple{background-color: #6a4c93; color: #fff}
.Orange{background-color: orange}