/* CSS for styling the Kanban Board */
.container {
    max-width: 100%;
    max-height: auto;
}
table {
    height: 100vh;
    table-layout: fixed;
    border-spacing: 0;
    border-radius: 10px;
    border-collapse: separate;
    background-color: #fdfcf7;
    box-shadow: 7px 10px #dad9d4;
}
table, tr, th, td {
    background: #fdfcf7;
    border: 1px solid black;
}
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
/* .column-wall {
    border-left: 2px solid black;
    border-right: 2px solid black;
} */
/* .column-divider {
    border-top: 2px solid black;
} */
/* Used to size the images for Members above the board */
.bi-person-circle {
    font-size:40px;
    padding-left: 10px
}
/* Used to modify the Add Member button to match Member-Img */
.member-add {
    border-radius: 25px;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    background-color: white;
}
/* Easily add just Display:Flex to a component */
.flex{
    display:flex;
}
/* Used to get "Group 5 Board", the User icons, and the add User button inline */
.vertical-align{
    align-items: center;
}
/* Used so that the Tasks don't look like Hyperlinks */
.no-underline{
    text-decoration: none;
    color: black
}
/* Task button styling */
.addTask {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #e6e3dc;
    text-align: center;
}

.task {
    padding-top: 5px;
    padding-bottom: 5px;
}

.task-card{
    padding: 10px;
    border-radius: 5px;
}

/* End CSS for styling the Kanban Board */

/* Colors for the different Tasks */
.Red{background-color: #ff595e;}
.Yellow{background-color: #ffca3a;}
.Green{background-color: #8ac926;}
.Blue{background-color: #1982c4;}
.Purple{background-color: #6a4c93;}
.Orange{background-color: orange}